<div class="container pt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="h3 fw-bold">Legal Disclaimer</h1>
            <p>
                This website is intended to be of general interest only. Nothing in this website 
                should be construed as advice. The Normal India Volunteers Team (NIVT) has exercised professional 
                care and diligence in the collection of information in this website. However, data 
                from third party sources may have been used or uploaded voluntarily by individuals 
                in its preparation and NIVT has not independently verified, validated or 
                audited such data as such which is beyond our limits. Opinions expressed are the 
                author’s at the publication date and they are subject to change without prior notice. 
                Given the rapidly changing Covid-19 environment, NIVT disclaim responsibility 
                for updating this material. Any research and analysis contained in this website has been 
                procured by NIVT for its own purposes and is provided to you only incidentally. 
                NIVT shall not be liable to any user of this website or to any other person or 
                entity for the inaccuracy of information or any errors or omissions in its contents, 
                regardless of the cause of such inaccuracy, error or omission.
            </p>
            <p>
                The use of the third-party website links on this website is done at your own discretion and risk and 
                with agreement that you will be solely responsible for any damage to your computer system or loss of 
                data that results from such activities. You are solely responsible for adequate protection and backup 
                of the data and equipment used in connection with any of the software linked to this website, and we 
                will not be liable for any damages that you may suffer connection with. No advice or information, 
                whether oral or written, obtained by you from us or from this website shall create any warranty.
            </p>
            <h2 class="h4 fw-bold">Additionally, we make no warranty that:</h2>
            <ul>
                <li>The third-party websites will meet your requirements</li>
                <li>The third-party websites will be uninterrupted, timely, secure or error-free</li>
                <li>The results from the use of the third-party weblinks will be effective, accurate or reliable</li>
                <li>The quality of the third-party weblinks will meet your expectations</li>
                <li>If errors or problems occur in connection the third-party weblinks obtained from the links on this 
                    website, they will be corrected</li>
            </ul>
            <h2 class="h4 fw-bold">For Informational Purpose Only</h2>
            <p>
                The information provided in or through this Website is for and informational purposes only and solely 
                as a self-help tool for your own use
            </p>
            <h2 class="h4 fw-bold">Not Medical, Mental Health or Religious Advice</h2>
            <p>
                The authors of this Website are not, nor are claiming to be doctors/physicians, nurses, physician's 
                assistants, advanced practice nurses, or any other type of medical professional ("Medical Provider"), 
                psychiatrist, psychologist, therapist, counsellor or social worker ("Mental Health Provider"), 
                registered dietician or licensed nutritionist, or member of the clergy
            </p>
            <p>
                We are not providing health care, medical or nutritional therapy services, or attempting to diagnose, 
                treat, prevent or cure any physical, mental or emotional issue, disease or condition. The information 
                provided in or through this Website pertaining to your health or wellness, exercise, relationships, 
                business/career choices, finances, or any other aspect of your life is not intended to be a substitute 
                for the professional medical advice, diagnosis or treatment provided by your own Medical Provider or 
                Mental Health Provider. You agree and acknowledge that we are not providing medical advice, mental 
                health advice or religious advice in any way
            </p>
            <h2 class="h4 fw-bold">No Guarantees</h2>
            <p>
                We cannot predict and do not guarantee that you will attain a particular result from the information 
                provided in or through this Website, and you accept and understand that results differ for each 
                individual. You fully agree that there are no guarantees as to the specific outcome or results that 
                you can expect from using the information you receive on or through this Website
            </p>
        </div>
    </div>
</div>
