<div class="container pt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="h3 fw-bold">Thank You For Volunteering</h1>
            <p>
                With volunteers like you, we have a chance to make this world a better place. Thank you for all your 
                hard work. It makes all the difference.
            </p>
            <h2 class="h4 fw-bold">Normal India Volunteers</h2>
            <ul>
                <li><strong>Sai Chaithanya</strong>, Project Lead</li>
                <li><strong>Sandeep.Etikala</strong>, UI Lead</li>
                <li><strong>Jyothi.Jonna</strong>, Jr. Developer</li>
                <li><strong>Jyothi.Tummala</strong>, QA</li>
                <li><strong>Balaji.Rachamadugu</strong>, Sr. Backend Developer</li>
                <li><strong>Srinivas.Kandula</strong>, Sr. UI Developer</li>
                <li><strong>Srinivas.Sistala</strong> Srinivas.S, SEO</li>
                <li><strong>Bharath</strong>, Digital Marketing</li>
                <li><strong>Vinod.Balamoni</strong>, Fullstack Developer</li>
                <li><strong>Ravi.Bayapalli</strong>, UI Developer</li>
                <li><strong>Varun.Palugula</strong>, Mobile Developer</li>
            </ul>
        </div>
    </div>
</div>